#{extends 'main.html' /}
#{set title:'getItemListByCreator.html' /}

#{ifnot resultList}
	No items Found.
#{/ifnot}

#{list items:resultList,as:'resultItem'}
			<input type="label" value="${resultItem["id"]}"></input>
			<input type="label" value="${resultItem.item.title}"></input>
			<input type="label" value="${resultItem.item.creator}"></input>
		#{ifnot resultItem["isIssued"]}
				<input type="label" value="Available"></input>
			#{/ifnot}
			#{if resultItem["isIssued"]}
				<input type="label" value="Issued"></input>
			#{/if}
			#{ifnot resultItem["isReserved"]}
				#{if resultItem["isIssued"]}
					<a href="">Reserve</a>
				#{/if}
			#{/ifnot}
			#{if resultItem["isReserved"]}
				<input type="label" value="Reserved"></input>
			#{/if}
</br>
#{/list}